<!-- +++++++++++++++++++++++++++++++Footer View+++++++++++++++++++++++++++++++++++ -->
<section id="contact" style="margin-top:-60px">
    <div id="footer" class="footer-main">
        <div class="footer-news pad-top-100 pad-bottom-70 parallax" style="background-image:url(images/weby.jpg);">
            <div class="container">
                <div class="row" style="height: 50vh;">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                        <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">
                            <h2 class="ft-title color-white text-center">Newsletter </h2>
                            <p> Subscribe to our Newsletter, to be updated with our menu</p>
                        </div>

                        <form method="POST" action="/subscribe" id="myform">
                            <input type="email" name="email" placeholder="Enter your e-mail">
                            <button id="sub" type="submit">
                            <a style="display:inline;background: rgb(1,191,1);" class="orange-btn">
                                <i class="fa fa-paper-plane-o" aria-hidden="true"></i></a></button>
                        </form> <br> <br> <br>

                        <div class="col-sm-12 ">
                            <div class="col-sm-12  forma">
                                <h2 style="margin-bottom: 10px;">Any Question/Complain?</h2>
                                <h4>Send us a message we would reply before 24 hours</h4>
                                <form id="contact-form" role="form"method="POST" action="/enquiry" >
                        
                                    <div class="col-md-6 col-sm-6">
                                        <input type="text" class="form-control" placeholder="Full name" name="name" required="">
                                    </div>
                                    <div class="col-md-6 col-sm-6">
                                        <input type="email" class="form-control" placeholder="Email address" name="email" required="">
                                    </div>
                                    <div class="col-md-12 col-sm-12">
                                        <textarea class="form-control" rows="5" placeholder="Your message" name="enquiry"
                                            required=""></textarea>
                                    </div>
                                    <div class="col-md-12 col-sm-12">
                                        <button
                                            style="background-color: white; color: black; border: solid 1px green; border-radius: 20px; padding:10px;"
                                            type="submit" name="enquiry" data-toggle="modal" data-target="#myModal1">Send Message
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- end col -->
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </div>
        <!-- end footer-news -->
        <div class="footer-box pad-top-70">
            <div class="container">
                <div class="row">
                    <div class="footer-in-main">
                        <div class="footer-logo">
                            <div class="text-center">
                                <img src="images/menalogo.png" alt="" />
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="footer-box-a">
                                <h3>Goal</h3>
                                <p>Our Goal is to bring the best meal to your table amidst your busy schedule
                                    at a cheap price
                                </p>
                                <ul class="socials-box footer-socials pull-left">
                                    <li>
                                        <a href="#" target="_blank">
                                            <img class="social-circle-border" src="images/is.jpeg" alt="">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank">
                                            <img class="social-circle-border" src="images/f.png" alt="">
                                        </a>
                                    </li>
                                </ul>

                            </div>
                            <!-- end footer-box-a -->
                        </div>
                        <!-- end col -->
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="footer-box-b">
                                <h3>Connect</h3>
                                <ul>


                                    <li><a href="#"> We are located right just close to your campus, a click away, just make the order we are your food first-aid</a></li>
                                </ul>
                            </div>
                            <!-- end footer-box-b -->
                        </div>
                        <!-- end col -->


                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="footer-box-c">
                                <h3>Contact Us</h3>
                                <p>
                                    <i style="margin-top:-10px;"><img
                                            src="images/15976802691597422572icons8-location-update-64.png"
                                            style="height: 23px; width: 23px; border-radius: 11px; color:white;"></i>
                                    <span> Mena Online Food Ordering Services,Golden Tosrich Event Place, Near Matrix
                                        Petrol Station on Ondo
                                        Road, Akure.</span>
                                </p>
                                <p>
                                    <i style="margin-top:-10px;"><img src="images/1597422572icons8-phone-96.png"
                                            style="height: 23px; width: 23px; border-radius: 11px; color:white;"></i>
                                    <span>
                                        <a href="tel:+2348023173804">+2348023173804</a>
                                    </span>
                                </p>
                                <p>
                                    <i style="margin-top:-10px;"><img src="images/1597422572icons8-email-open-80.png"
                                            style="height: 23px; width: 23px; border-radius: 11px; color:white;"></i>
                                    <span><a href="mailto:menaonlinefood@gmail.com">menaonlinefood@gmail.com</a></span>
                                </p>
                            </div>
                            <!-- end footer-box-c -->
                        </div>
                        <!-- end col -->
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="footer-box-d">
                                <h3>Opening Hours</h3>

                                <ul>
                                    <li>
                                        <p>Monday -Thursday </p>
                                        <span> 10:00 AM- 08:00 PM</span>
                                    </li>
                                    <li>
                                        <p>Friday -Saturday </p>
                                        <span> 9:00 AM- 12:00 PM</span>
                                    </li>

                                </ul>
                            </div>
                            <!-- end footer-box-d -->
                        </div>
                        <!-- end col -->
                    </div>
                    <!-- end footer-in-main -->
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
            <div id="copyright" class="copyright-main">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        </div>
                    </div>
                    <!-- end row -->
                </div>
                <!-- end container -->
            </div>
            <!-- end copyright-main -->
        </div>
        <!-- end footer-box -->
    </div>
</section>
<!-- +++++++++++++++++++++++++++++++End of Footer and Contact View+++++++++++++++++++++++++++++++++++ -->

<style>
    #contact-form input , #contact-form textarea{
        color: white;
    }
</style>