<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    {{!-- Meta Datas --}}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Online food ordering services.WebuyNcook food for your Satisfaction">
    <meta name="keywords" content="Food,Akure,Online,Foodstuff,Fruits">
    <meta name="author" content="mcicoding">
    {{!-- stylesheets --}}
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/owl.carousel.css">
    <link rel="stylesheet" href="/css/owl.theme.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="shortcut icon" href="/images/menalogo.png" type="image/x-icon" />
  </head>
  <body>
    {{{body}}}
  </body>
  {{!-- scripts --}}
  <script src="/jquery/jquery.min.js"></script>
  <script src="/javascripts/all.js"></script>
  <script src="/javascripts/script.js"></script>
  <script src="/javascripts/bootstrap.min.js"></script>
</html>
