<style>
    /*basic reset*/
* {margin: 0; padding: 0;}

html {
}
body{
    background-image: url(../images/weby.jpg) !important;
}
.logo{
        top: 0;
        left:0;
        position: absolute;
        z-index: 999999;
    }
</style>


<a href="/" class="logo ">
    <img src="../images/menalogo.png" alt="" height="60px" width="60px">

    <h2 style="color: #fff;">WeBuyNCook</h2>
</a>
<form method="POST" action="/user/signup" id="msform" name="registration" >
    <!-- progressbar -->
    <ul id="progressbar">
        <li class="active">Account Setup</li>
        <li>School Details</li>
        <li>Personal Details</li>
    </ul>
    <!-- fieldsets -->
    <fieldset>
        {{#if hasErrors}}
        <div class="alert" style="background-color: red;color:white ">
            {{#each messages}} 
            {{this}}<br>
            {{/each}}
        </div>
        {{/if}}
        <h2 class="fs-title" >Create your account</h2>
        <h3 class="fs-subtitle">Login Details</h3>
        <input type="email" name="email" placeholder="Email"/>
        <input type="password" id="input" value="" name="password"  placeholder="Password" autocomplete="new-password" />
        <input type="password" id="input2" value="" name="cpassword" placeholder="Confirm Password" autocomplete="new-password"/>
        <span style="float: left;color: white;cursor: pointer;" type="button" onclick="showPassword1();showPassword2();">Show password
        </span><br>
        <input type="button" name="next" class="next action-button" value="Next" />
        <span class="fs-subtitle"><a href="/user/signin" style="color:black;right:0px">Already have an Account?</a></span>
        
    </fieldset>
    <fieldset>
        <h2 class="fs-title">School Details</h2>
        <h3 class="fs-subtitle">Your identity on campus </h3>
        <input type="text" name="school" placeholder="School" />
        <input type="text" name="department" placeholder="Department" />
        <select name="level" id="level" >
            <option selected="true"  value="" disabled>Enter your Level</option>
            <option value="pdgr">Pre-degree</option>
            <option value="uabs">uabs</option>
            <option value="100level">100level</option>
            <option value="200level">200level</option>
            <option value="300level">300level</option>
            <option value="400level">400level</option>
            <option value="500level">500level</option>
            <option value="graduate">Graduate</option>
            <option value="lecturer">Lecturer</option>
            <option value="non-teaching-staff">Non Teaching staff</option>

        </select>
        <input type="hidden" name="userImage"  value="https://www.pngarts.com/files/3/Avatar-PNG-Download-Image.png">
        <input type="button" name="previous" class="previous action-button" value="Previous" />
        <input type="button" name="next" class="next action-button" value="Next" />
        <span class="fs-subtitle"><a href="/user/signin" style="color:black;right:0px">Already have an Account?</a></span>
    </fieldset>
    <fieldset>
        <h2 class="fs-title">Personal Details</h2>
        <h3 class="fs-subtitle">We will never sell it</h3>
        <input type="text" name="fname" placeholder="First Name"/>
        <input type="text" name="lname" placeholder="Last Name"/>
        <input type="text" name="mname" placeholder="Middle Name(Optional)"/>
        <input type="text" name="phone" placeholder="Phone"/>
        <textarea name="address" placeholder="Address" ></textarea>
        <input type="button" name="previous" class="previous action-button" value="Previous" />
        <input type="hidden" name="_csrf" value={{csrfToken}}>
        <button type="submit" name="submit" class="submit action-button">SUBMIT</button>
        <span class="fs-subtitle"><a href="/user/signin" style="color:black;right:0px">Already have an Account?</a></span>
    </fieldset>
    
</form>

<script>
    function showPassword1() {
            var x = document.getElementById("input");
            if (x.type === "password") {
                x.type = "text";
            } else {
                x.type = "password";
            }
        }
     function showPassword2() {
            var y = document.getElementById("input2");
            if (y.type === "password") {
                y.type = "text";
            } else {
                y.type = "password";
            }
        }
</script>