<style>
     body{
        background-image: url(../images/weby.jpg);
    }
    *{
        margin: 0;
        padding: 0%;
    }
    .container{
        margin-top: 15%;
        padding: 60px ;
        font-size: 5rem;
    }
      .logo{
        top: 0;
        left:0;
        position: absolute;
        z-index: 999999;
    }
</style>
<a href="/" class="logo ">
    <img src="../images/menalogo.png" alt="" height="60px" width="60px">

    <h2 style="color: #fff;">WeBuyNCook</h2>
</a>
<div class="jumbotron text-center container" style="background:rgba(0,0,0,0.3)	 !important;margin-top :40px;">
    <h1 class="display-3">Thank You!</h1>
    <h2 class="display-2">Order Recieved!!!</h2>
    <p  class="display-1" style="color: white;" ><strong>Proceed to Make Transfer to any of this account below and send the proof of payment to this number +2348023173804</strong></p>
    <hr> 
    <p style="color: white;">
        Having trouble? <a href="/#contact" style="color: white;">Contact us here</a>
    </p>
    <p >
        <a class="btn btn-primary btn-sm" href="/" role="button">Continue to homepage</a>
    </p>
</div>